<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphs - Raven Distribution Framework UI</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Nanum Gothic:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <style>
        * {
            font-family: 'Nanum Gothic', serif;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">RDF-UI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clients">Clients</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/graphs">Graphs <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ops">Ops</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <hr/>
    <h3 class="text-center">Graphs</h3>
    <h6 class="text-right">Total:{{ graphs|length }}</h6>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Status</th>
                <th scope="col">Progress</th>
                <th scope="col">Ops</th>
                <th scope="col">Created At</th>
            </tr>
            </thead>
            <tbody>
            {% for graph in graphs %}
                <tr>
                    <th scope="row"><a href="/graph/{{ graph.id }}/">Graph({{ graph.id }})</a></th>
                    <td>{{ graph.status|title }}</td>
                    <td>{{ graph.progress }}%</td>
                    <td><a href="/graph/ops/{{ graph.id }}/">View Ops</a></td>
                    <td>{{ graph.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</body>
</html>