@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: Arial;
}

.header {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: 700;
	background: #64B6AC;
	padding: 20px;
	color: white;
}

.container {
	padding: 0;
	min-width: 100%;
	min-height: 100vh;
	background: #DAFFEF;
}

.navButtons {
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-top: 1%;
}

.navBtn {
	background-color: white;
	border: 2px solid #64B6AC;
	color: black;
	padding: 8px 24px;
	border-left-color: #64B6AC;
	border-right-color: #64B6AC;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition: 0.2s;
	font-weight: 500;
}

.navBtn:hover, .active {
	border: 2px solid #64B6AC;
	border-left-color: #64B6AC;
	border-right-color: #64B6AC;
	background-color: #64B6AC;
	color: white;
	font-weight: 500;
}

.showContainer {
	display: block;
}

.selectionContainer {
	display: flex;
	justify-content: center;
	margin-top: 1%;
	margin-bottom: 5%;
}

.contentContainer {
	border: 3px solid #64B6AC;
	padding: 1.5% 3%;
	border-radius: 7px;
}

#coreContainer {
	width: 60%;
	display: flex;
	flex-direction: row;
}

#coreDropdown, #input1, #input2 {
	margin: 20px;
}

.inputStyle {
	width: 200px;
}

#linearContainer {
	width: 60%;
	display: flex;
	flex-direction: row;
}

#selectDatasetContainer {
	font-size: 18px;
	margin: 20px;
}

#calcuateCoreBtn {
	background-color: #5D737E;
	color: white;
	padding: 5px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border: none;
}

#chooseFile {
	font-size: 14px;
}

.fileUploadBtn {
	background-color: #5D737E;
	margin-top: 5px;
	color: white;
	padding: 5px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border: none;
}

#calcuateLinearBtn {
	background-color: #5D737E;
	color: white;
	padding: 5px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border: none;
	margin-left: 20px;
	margin-bottom: 20px;
}

.featureTargetCol {
	margin: 20px;
}

#logisticContainer {
	width: 60%;
	display: flex;
	flex-direction: row;	
}