{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
    	<div class="header">
    		Raven Distribution Framework
    	</div>
        <div class="cardContainer">
        	<div class="navButtons">
    			<button class="navBtn" id="core">CORE</button>
    			<button class="navBtn" id="linear">LINEAR REGRESSION</button>
    			<button class="navBtn" id="logistic">LOGISTIC REGRESSION</button>
        	</div>
        	<div class="selectionContainer">
        		<div class="contentContainer" id="coreContainer">
        			<div id="coreDropdown">
        				<select name="coreDropdown" class="coreDropdown">
    	    				<option value="select">Select Operation</option>
                            <!-- <option value="1">Matrix Multiplication</option> -->
                            <option value="Addition">Addition</option>
                            <option value="Subtraction">Subtraction</option>
                            <option value="Matrix Multiplication">Matrix Multiplication</option>
                            <option value="Multiplication">Multiplication</option>
                            <option value="Division">Division</option>
                            <option value="Element-wise Multiplication">Element-wise Multiplication</option>
                            <option value="Negation">Negation</option>
                            <option value="Exponential">Exponential</option>
                            <option value="Transpose">Transpose</option>
                            <option value="Natural Log">Natural Log</option>
                            <option value="Matrix Sum">Matrix Sum</option>
                            <option value="Linear">Linear</option>
    	    			</select>
        			</div>

        			<div id="input1Container">
    	    			<input id="input1" class="inputStyle" type="text" name="input1" placeholder="Input 1">

                        <!-- <select name="input1Dropdown" class="inputDropdown">
                            <option value="select">Select data type</option>
                            <option value="scalar">Scalar</option>
                            <option value="matrix">Matrix</option>
                        </select> -->
    	    		</div>

    	    		<div id="input2Container">
        				<input id="input2" class="inputStyle" type="text" name="input2" placeholder="Input 2">

                        <!-- <select id="input2Dropdown" name="input2Dropdown" class="inputDropdown">
                            <option value="select">Select data type</option>
                            <option value="scalar">Scalar</option>
                            <option value="matrix">Matrix</option>
                        </select> -->
        			</div>

        			<div id="calcuateCoreContainer">
        				<button id="calcuateCoreBtn">Calculate</button>
        			</div>
        		</div>

        		<div class="contentContainer" id="linearContainer">

                    <div class="navButtonsLogistic">
                        <button class="navBtnLogistic" id="datasetLinear">Dataset</button>
                        <button class="navBtnLogistic" id="inputLinear">Input</button>
                    </div>

                    <div id="datasetLinearContainer">
                        <div id="selectDatasetContainer">
                            <span style="font-size: 20px">Select a dataset</span><br>

                            <input type="radio" name="datasetSelect" value="boston_house_prices">
                            <label for="boston_house_prices">Boston House Prices</label><br>

                            <input type="radio" name="datasetSelect" value="breast_cancer">
                            <label for="breast_cancer">Breast Cancer</label><br>
                            <hr />

                            <input type="radio" name="datasetSelect" value="upload">
                            <label for="upload">Upload</label><br>

                            <form enctype="multipart/form-data" class="uploadFileForm">
                                <input id="chooseFileLinear" name="file" type="file" />
                                <label for="chooseFileLinear" class="uploadFileLabel">Choose File</label>
                            </form>
                        </div>

                        <!-- <div class="featureTargetCol">
                            <span class="inputTitle">Features</span><br />
                            <input type="text" name="features" placeholder="Enter the features" class="featureTargetColInput">
                        </div> -->

                        <div class="featureTargetCol">
                            <span class="inputTitle">Target Column</span><br />
                            <input id="targetColumnLinear" type="text" name="features" placeholder="Enter target column" class="featureTargetColInput">
                        </div>

                        <class id="calcuateLinearBtnContainer">
                            <button id="calcuateLinearBtn">Train</button>
                        </class>

                        <div id="trainigProgressBarLinearDataset">
                        </div>

                        <div style="font-size: 20px; margin-top: 20px">Predict</div>

                        <div class="inputLinearInputDataset">
                            <span class="inputTitle">Input</span><br />
                            <input type="text" name="features" placeholder="Enter matrix" class="featureTargetColInput" id="predictLinearInputDataset">
                        </div>

                        <div id="predictLinearInputBtnContainer">
                            <button disabled id="predictLinearInputBtn">Predict</button>
                        </div>

                        <pre id="outputPredictLinear">
                            
                        </pre>
                    </div>

                    <div id="inputLinearContainer">
                        <div style="font-size: 20px">Train</div>
                        <div class="inputLogisticInput">
                            <span class="inputTitle">Input 1</span><br />
                            <input type="text" name="features" placeholder="Enter matrix X" class="featureTargetColInput" id="inputLogisticInput1">
                        </div>

                        <div class="inputLogisticInput">
                            <span class="inputTitle">Input 2</span><br />
                            <input type="text" name="features" placeholder="Enter matrix Y" class="featureTargetColInput" id="inputLogisticInput2">
                        </div>

                        <div id="trainLogisticInputBtnContainer">
                            <button id="trainLogisticInputBtn">Train</button>
                        </div>

                        <div id="trainigProgressBar">
                        </div>

                        <div style="font-size: 20px; margin-top: 20px">Predict</div>

                        <div class="inputLogisticInput">
                            <span class="inputTitle">Input</span><br />
                            <input type="text" name="features" placeholder="Enter matrix" class="featureTargetColInput" id="predictLogisticInput">
                        </div>

                        <div id="predictLogisticInputBtnContainer">
                            <button disabled id="predictLogisticInputBtn">Predict</button>
                        </div>

                        <pre id="outputPredictLogistic">
                            
                        </pre>

                        <!-- <div style="font-size: 20px">Predict</div>
                        <div class="inputLogisticInput">
                            <span class="inputTitle">Input 1</span><br />
                            <input type="text" name="features" placeholder="Enter matrix X" class="featureTargetColInput" id="inputLogisticInput1">
                        </div> -->
                    </div>

        		</div>

        		<div class="contentContainer" id="logisticContainer">

                    <div class="navButtonsLogistic">
                        <button class="navBtnLogistic" id="datasetLogistic">Dataset</button>
                        <button class="navBtnLogistic" id="inputLogistic">Input</button>
                    </div>

                    <div id="datasetLogisticContainer">
                        <div id="selectDatasetContainer">
                            Select a dataset<br>

                            <input type="radio" name="datasetSelect" value="diabetes">
                            <label for="diabetes">Diabetes</label><br>

                            <input type="radio" name="datasetSelect" value="boston">
                            <label for="boston">Boston House Price</label><br>

                            <input type="radio" name="datasetSelect" value="upload">
                            <label for="upload">Upload</label><br>

                            <form enctype="multipart/form-data" class="uploadFileForm">
                                <label for="chooseFile" class="uploadFileLabel">Choose File</label>
                                <input id="chooseFile" name="file" type="file" /><br>
                                <input class="fileUploadBtn" type="button" value="Upload" />
                            </form>
                        </div>

                        <div class="featureTargetCol">
                            <span class="inputTitle">Features</span><br />
                            <input type="text" name="features" placeholder="Enter the features" class="featureTargetColInput">
                        </div>

                        <div class="featureTargetCol">
                            <span class="inputTitle">Target Column</span><br />
                            <input type="text" name="features" placeholder="Enter the target column" class="featureTargetColInput">
                        </div>

                        <span style="width: 45%">
                            <button id="calcuateLinearBtn">Train</button>
                        </span>
                    </div>

                    <div id="inputLogisticContainer">
                        <div style="font-size: 20px">Train</div>
                        <div class="inputLogisticInput">
                            <span class="inputTitle">Input 1</span><br />
                            <input type="text" name="features" placeholder="Enter matrix X" class="featureTargetColInput" id="inputLogisticInput1">
                        </div>

                        <div class="inputLogisticInput">
                            <span class="inputTitle">Input 2</span><br />
                            <input type="text" name="features" placeholder="Enter matrix Y" class="featureTargetColInput" id="inputLogisticInput2">
                        </div>

                        <div id="trainLogisticInputBtnContainer">
                            <button id="trainLogisticInputBtn">Train</button>
                        </div>

                        <div id="trainigProgressBar">
                        </div>

                        <div style="font-size: 20px; margin-top: 20px">Predict</div>

                        <div class="inputLogisticInput">
                            <span class="inputTitle">Input</span><br />
                            <input type="text" name="features" placeholder="Enter matrix" class="featureTargetColInput" id="predictLogisticInput">
                        </div>

                        <div id="predictLogisticInputBtnContainer">
                            <button disabled id="predictLogisticInputBtn">Predict</button>
                        </div>

                        <pre id="outputPredictLogistic">
                            
                        </pre>

                        <!-- <div style="font-size: 20px">Predict</div>
                        <div class="inputLogisticInput">
                            <span class="inputTitle">Input 1</span><br />
                            <input type="text" name="features" placeholder="Enter matrix X" class="featureTargetColInput" id="inputLogisticInput1">
                        </div> -->
                    </div>

        		</div>
        	</div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}